VITE_SUPABASE_URL=https://oiupfjezvbtgtbaefnzz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9pdXBmamV6dmJ0Z3RiYWVmbnp6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ1MjM3NjAsImV4cCI6MjEwMDA5OTc2MH0.tBU6Dae1GX3n8zZspS4PtjY1UxVYp3ewoQ1hRu_odOQ
